/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 15rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 5rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroBannerBg {
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
}

[data-theme='dark'] .heroBannerBg {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

